.card__content{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and  (max-width:768px) {
    .card__content{
        max-width: 100%;
        width: 100%;
    }
    
}