.card__website-url {
    text-transform: uppercase;
    display: block;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    margin-bottom: 12px;
    color: #aaaaaa;
}
