.card__content-left{
    max-width: 460px;
    width: 100%;
}
@media screen and  (max-width:768px) {
    .card__content-left{
        max-width: 340px;
        margin: 0;
        padding:0 14px 0 24px
    }
    
}