.card__content-rigth{
    max-width: 484px;
    margin: 106px 0 86px 0;
}
@media screen and  (max-width:768px) {
    .card__content-rigth{
        max-width: 352px;
        margin: 0;
        padding:0 24px 0 14px
    }
    
}